@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "sf-pro";
    src: url("/fonts/SF-Pro-Display-Regular.otf"),
}

@font-face {
    font-family: "sackers";
    src: url("/fonts/SackersGothicStd-Light.otf"),
}

body {
    font-family: "sf-pro";
}

.font-sackers {
    font-family: "sackers";
    font-weight: 500;
}

.btn {
    @apply px-4 py-2 text-xs w-full rounded-none inline-flex justify-center items-center transition-all ease-in-out duration-150 border border-transparent;
}

.btn-black {
    background-color: black;
}

.btn-white {
    background-color: white;
}