@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "sf-pro";
    src: url("/fonts/SF-Pro-Display-Light.otf"),
}

@font-face {
    font-family: "sackers";
    src: url("/fonts/SackersGothicStd-Light.otf"),
}

body {
    font-family: "sf-pro", sans-serif;
}

h2 {
    @apply text-center text-xs font-thin
}

.font-sackers {
    font-family: "sackers", sans-serif;
    font-weight: 300;
}

.btn {
    @apply px-4 py-2 text-xs w-full h-10 rounded-none inline-flex justify-center items-center transition-all ease-in-out duration-150 border sm:w-80 lg:text-sm lg:h-12;
}

.btn-black { 
    @apply border-transparent bg-black
}

.btn-white {
    @apply bg-white
}